#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  position: absolute;
  top: 0;
  left:0;
}

#downloadButton, #redrawButton, #exampleSelect {
  position: absolute;
  width: 100px;
  height: 25px;
  right: 10px;
  border-radius: 4px;
  background-color: darkslategrey;
  color: white;
  padding: 4px 6px;
  cursor: pointer;
  opacity: 0.7;
}

#downloadButton {
  top: 10px;
}

#redrawButton {
  top: 60px;
}

#downloadButton:hover, #redrawButton:hover {
  opacity: 1;
}
#downloadButton:active, #redrawButton:active {
  background-color: rgb(55, 121, 110);
}

#exampleSelect {
  top:110px;
  /* position: relative; */
}

#selectPrompt {
  padding-bottom: 0px;
}

.selectItems {
  background-color: rgba(0,0,0,0.6);
  padding: 2px;
  border-radius: 4px;
}

.hidden {
  display: none;
}

.selectItem {
  width: 100%;
  margin: 3px 0 7px;
  border-bottom: 1px darkgray solid;
  padding-bottom: 4px;
} 

.selectItem :last-child {
  border-bottom: 0px;
}